*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400PX;
    width: 100%;
    background-color:#fff;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);

}
.image{
    position: relative;
    height:150px;
    width:150px;
    border-radius:50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}
.image .profile-image{
    height: 100%;
    width: 100%;
    object-fit:scale-down;
    background-color:white;
    border-radius:50%;
    border:3px solid #fff;
}
.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
.text-data .name{
    font-size: 22px;
    font-weight: 500px;
}
.text-data .job{
    font-size: 15px;
    font-weight: 400px;
}